body {
    text-align: center;
    text-decoration: none;
    margin: 0;
}
.title{
    text-transform: uppercase;
}
header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20 30 20;
}
h1 {
    margin: 0;
}
nav {
    background-color: #00A6B3;
    color: #ffffff;
    padding: 20px 0 20 0;
}
a {
   margin: 0px 20px 0px 20px;
   border-bottom: 2px solid transparent;
}
a:hover{
    color: white;
}
main {
    width: 850px;
    margin: 35px auto 35 auto;
}
img {
    margin: 40px 8px 0 8px;
}
footer{
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
p{
    font-family: 'Raleway';
}
.copyright {
    float: left;
}
.message {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.name {
    color: #f15b31;
    font-weight: 700;
}