body {
    text-align: center;
    margin: 0;
}
.title{
    text-transform: uppercase;
    font-family: 'Raleway';
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 45px;
}
header {
    background-color: #f15b31;
    color: #ffffff;
    padding: 30px 20px 30px 20px;
}
h1 {
    margin: 0;
}
nav {
    background-color: #00A6B3;

    padding: 20px 0 20px 0;
}
.instructions{
    font-family: 'Raleway';
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.game{
    font-family: 'Raleway';
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  
}
a {
   margin: 0px 20px 0px 20px;
   border-bottom: 2px solid transparent;
   text-decoration: none;
}
a:hover{
    color: white;
}
.paragraphTitle{
    font-family: 'Raleway';
    color: #0d2c40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

main {
    width: 850px;
    margin: 35px auto 35px auto;
}
img {
    margin: 40px 8px 0 8px;
}
footer{
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}
p{
    font-family: 'Droid Serif', serif;
    line-height: 26px;
    font-size: 18px;
}
.copyright {
    float: left;
}
.message {
    float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}
.name {
    color: #f15b31;
    font-weight: 700;
}